sudo: false
language: node_js
node_js:
- '8'
services: mongodb
branches:
  only:
  - master
cache:
  directories:
  - node_modules
before_install:
- npm update
install:
- npm install
script:
- npm run lint
- npm run test
- npm run coveralls
